name: CI
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "bin/*"
  push:
    paths:
      - "bin/*"
  schedule:
    - cron: "0 0 * * *"

jobs:
  plugin_test:
    name: asdf plugin test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    env:
      GOPATH: ${{ github.workspace }}
    steps:
    - uses: actions/setup-go@v2
      with:
        go-version: 1.15.x
    - if: matrix.os == 'ubuntu-latest'
      run: |
        set -eux;
        sudo apt-get update;
        sudo apt-get install --yes --no-install-recommends \
          libpcap-dev \
          libsasl2-dev \
        ;
    - uses: asdf-vm/actions/plugin-test@v1
      with:
        command: bsondump --version
    - uses: asdf-vm/actions/plugin-test@v1
      with:
        command: mongoimport --version
    - uses: asdf-vm/actions/plugin-test@v1
      with:
        command: mongoexport --version
    - uses: asdf-vm/actions/plugin-test@v1
      with:
        command: mongodump --version
    - uses: asdf-vm/actions/plugin-test@v1
      with:
        command: mongorestore --version
    - uses: asdf-vm/actions/plugin-test@v1
      with:
        command: mongostat --version
    - uses: asdf-vm/actions/plugin-test@v1
      with:
        command: mongofiles --version
    - uses: asdf-vm/actions/plugin-test@v1
      with:
        command: mongotop --version
